﻿@model IEnumerable<DataLibraly.DataAccess.Order>
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Statistical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Statistical</h1>
<table id="table1" class="table table-hover e-commerce-table">
    <thead>
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Freight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (DateTime.Parse(@Context.Session.GetString("StDate")) < item.OrderDate && DateTime.Parse(@Context.Session.GetString("EdDate")) > item.OrderDate)
            {
                <tr>
                    <td style="border-width: 2px">
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td style="border-width: 2px">
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td style="border-width: 2px">
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td style="border-width: 2px">
                        @Html.DisplayFor(modelItem => item.RequiredDate)
                    </td>
                    <td style="border-width: 2px">
                        @Html.DisplayFor(modelItem => item.ShippedDate)
                    </td>
                    <td style="border-width: 2px">
                        @Html.DisplayFor(modelItem => item.Freight)
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
